body {
  max-width: 750px;
  margin: 0 auto;
}

.cabecera{
  text-align: right;
  font-style: italic;
}
.cabecera2{
  font-style: italic;
}
.nombre{
	font-weight: bold;
}

.fecha{
	font-weight: bold; 
}

.tlfn{
	font-weight: bold;
	font-style: italic;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p,ul,ol,dl,address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}
dd::before{content:"\2022"}
.lista::before{content:"\2022"}